@{ 
    ViewData["Title"] = "Home Page"; 
    Layout = "_MenuLayout"; 
}

<div class="flex-column flex-main-start flex-align-center" style="width: 100%;height:auto;padding-left:1rem">
    <div>
        @ViewData["OperationResult"]
    </div>
</div>